.about-container {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    justify-content: space-between;
    height: 18rem;
    border: 1px solid black;
    padding: 12px 14px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    color: gray;
    width: 500px;
    margin: 18px;
}

.card-introduce {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.name {
    color: black;
    font-weight: 700;
    font-size: var(--font-24px);
}

.profile-image {
    top: 14px;
    right: 18px;
    background: url("../images/profile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 180px;
    height: 100%;
    border-radius: 5px;
}

.fa-mobile{
    font-size: 28px;
    margin-right: 4px;
}
.fa-envelope{
    margin-right: 4px;
}
.fa-github{
    font-size: 18px;
    margin-right: 4px;
}

.console-list {
    align-items: center;
    width: 500px;
    border: 1px solid black;
    list-style: none;
    background-color: #333333;
    color: #edeff0;
    margin: 10px;
}

.console {
    height: 25px;
    color: white;
    border-bottom: 1px solid gray;
}

.console span {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 100%;
    background-color: black;
}

.method {
    color: #eed91e;
}

.response {
    color: #0084ff;
}

.undefined {
    color: gray;
}

.declare{
    color: blueviolet;
}

.console-item {
    white-space: nowrap;
    padding: 0px 10px;
    border-top: 1px solid gray;
    line-height: 32px;
}

.cli{
    margin-left: 8px;
}

.fa-angle-right{
    color: #0084ff;
}
.fa-angle-left{
    color: #fff;
}


@media screen and (max-width: 1024px) {
    .about-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .card{
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
    }
    .job{
        text-align: center;
    }
    .name{
        text-align: center;
        margin-bottom: 1rem;
    }
    .profile-image {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    .console-list{
        width: 100%;
    }
}