/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    --size-border-radius: 4px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

.navbar{
    position: fixed;
    height: 80px;
    top: 0;
    font-weight: var(--weight-bold);
    font-size: var(--font-regular);
    background-color: transparent;
    width: 100%;
    transition: all .3s ease-in-out;
    z-index: 1;
}

.navbar-dark{
    background-color: var(--color-white);
    opacity: .9;
    box-shadow: 3px 1px 15px;
}
.navbar__container{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.logo{
    width: 80px;
    height: 100%;
    margin-left: 16px;
}

.navbar__menu{
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;
    transition: all .3s ease-in-out;
}

.navbar__menu__item{
    padding: 12px 18px;
    border-radius: var(--size-border-radius);
    text-align: center;
    cursor: pointer;
}

.navbar__menu__item:active{
    color: var(--color-blue);
}

.navbar__menu__item:hover{
    color: var(--color-blue);
}

.hamburger{
    position: absolute;
    padding: 8px;
    width: 48px;
    height: 48px;
    top: 16px;
    right: 24px;
    display: none;
    cursor: pointer;
}

.bar1{
    width: 35px;
    height: 5px;
    background-color: black;
    transition: 0.4s;
    cursor: pointer;
}
.bar2{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    cursor: pointer;
}
.bar3{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    cursor: pointer;
}

.on .bar1{
    transform: rotate(45deg)  translate(8px, 8px);
}

.on .bar2{
    opacity: 0;
}

.on .bar3{
    transform: rotate(-45deg) translate(8px, -8px);
}

#home{
    background: url('../images/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.home__container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 200px;
    transition: all 1s ease-in-out;
    opacity: 0;
}

.splash{
    top: 150px;
    opacity: 1;
}

.home__profile{
    background: center;
    width: 300px;
    height: 300px;
}


.arrow-up, .fa-angle-double-up{
    position: fixed;
    bottom: 16px;
    right: 16px;
    font-size: 48px;
    text-align: center;
    width: 60px;
    height: 60px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in;
}

.arrow-on,
.arrow-on .fa-angle-double-up{
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .hamburger{
        display: inline-block;
    }

    .navbar__menu{
        opacity: 0;
        pointer-events: none;
        position: relative;
        flex-direction: column;
        top: 64px;
    }
    .navbar__menu__item{
        padding: 8px;
    }

    .on .navbar__menu{
        opacity: 1;
        pointer-events: auto;
    }

}

