/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    --size-border-radius: 4px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    text-align: center;
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    margin: 4px 0;
}

.section{
    padding: 30px;
}

.navbar{
    position: fixed;
    height: 80px;
    top: 0;
    font-weight: var(--weight-bold);
    font-size: var(--font-regular);
    background-color: transparent;
    width: 100%;
    transition: all .3s ease-in-out;
    z-index: 1;
}

.navbar-dark{
    background-color: var(--color-white);
    opacity: 1;
    box-shadow: 3px 1px 15px;
}

.navbar__container{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo{
    width: 80px;
    height: 100%;
    margin-left: 16px;
}

.navbar__menu{
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;
    transition: all .3s ease-in-out;
}

.navbar__menu__item{
    padding: 12px 18px;
    border-radius: var(--size-border-radius);
    text-align: center;
    cursor: pointer;
}

.navbar__menu__item:active{
    color: var(--color-blue);
}

.navbar__menu__item:hover{
    color: var(--color-blue);
}

.hamburger{
    position: absolute;
    padding: 8px;
    width: 48px;
    height: 48px;
    top: 16px;
    right: 24px;
    display: none;
    cursor: pointer;
}

.bar1{
    width: 35px;
    height: 5px;
    background-color: black;
    transition: 0.4s;
    cursor: pointer;
}
.bar2{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    cursor: pointer;
}
.bar3{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    cursor: pointer;
}

.on .bar1{
    transform: rotate(45deg)  translate(8px, 8px);
}

.on .bar2{
    opacity: 0;
}

.on .bar3{
    transform: rotate(-45deg) translate(8px, -8px);
}

#home{
    background: url('../images/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.home__container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100px;
    transition: all 1s ease-in-out;
    opacity: 0;
    
}

.splash{
    top: 50px;
    opacity: 1;
}

.home__title{
    font-family: 'Sansita Swashed', cursive;
}

.home__profile{
    background: center;
    width: 300px;
    height: 300px;
}

.about__container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    padding: 12px 24px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    color: gray;
    margin: 10px;
}

.card__introduce{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.name{
    color: black;
    font-weight: var(--weight-bold);
    font-size: 24px;
}

.profile-image{
    background: url('../images/profile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 180px;
    height: 250px;
    border-radius: 5px;
}

.console-list{
    align-items: center;
    width: 500px;
    height: 314px;
    border: 1px solid black;
    list-style: none;
    background-color: #333333;
    color: #EDEFF0;
    margin: 10px;
}

.console{
    height: 25px;
    color: white;
    border-bottom: 1px solid gray;
}
.console span{
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 100%;
    background-color: black;
}

.request span{
    color: #EED91E;
}

.response{
    color: #0084ff;
}
.undefined{
    color: gray;
}

.fa-angle-right{
    color: #326dc7;
}
.fa-angle-left{
    color: gray;
}

.console-item{
    height: 64px;
}
.console-item div{
    padding: 0px 10px;
    border-top: 1px solid gray;
    height: 50%;
    line-height: 32px;
}












.arrow-up, .fa-angle-double-up{
    position: fixed;
    bottom: 0px;
    right: 16px;
    font-size: 48px;
    text-align: center;
    width: 60px;
    height: 60px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in;
}

.arrow-on, .fa-angle-double-up{
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
    bottom: 16px;
}

#footer{
    position: relative;
    width: 100%;
    height: 48px;
    color:var(--color-grey);
    box-shadow: 1px 1px 3px;
}

.copyright{
    position: absolute;
    padding-right: 32px;
    width: 100%;
    top:50%;
    transform: translateY(-50%);
}

.copyright p{
    float: right;
}


@media screen and (max-width: 1080px){
    .hamburger{
        display: inline-block;
    }

    .navbar__menu{
        opacity: 0;
        pointer-events: none;
        position: relative;
        flex-direction: column;
        top: 64px;
    }
    .navbar__menu__item{
        padding: 8px;
    }

    .on .navbar__menu{
        opacity: 1;
        pointer-events: auto;
    }
    .about__container{
        flex-direction: column;
    }
}

