/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    --size-border-radius: 4px;
}

*{
    margin: 0px;
    padding: 0px;
    border: 1px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

#navbar{
    height: 80px;
    border-bottom: 1px solid black;
    display: flex;
    position: sticky;
    top: 0;
    font-weight: var(--weight-bold);
    background-color: var(--color-white);
    font-size: var(--font-regular);
}

.logo{
    width: 80px;
    height: 100%;
    margin-left: 16px;
}

.navbar__menu{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-left: 0;
}

.navbar__menu__item{
    padding: 12px 18px;
    border-radius: var(--size-border-radius);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.navbar__menu__item:active{
    background-color: var(--color-blue);
    color: var(--color-white);
}

.navbar__menu__item:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
}

#home{
    background: url('../images/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
    text-align: center;
}
.home__profile{
    background: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}