.project-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.project{
    position: relative;
    width: 300px;
    height: 300px;
}

.project-image{
    width: 100%;
    height: 100%;
    background-image: url("../images/background_keyboard.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
}

.project-content{
    opacity: 0;
    transition: all .3s ease-in-out;
    z-index: 1;
}

.project-title{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease-in-out;
}

.project-more{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: inherit;
    border: 2px solid var(--color-blue);
    padding: 4px 16px;
    transition: all .3s ease-in-out;
    font-size: var(--font-16px);
    font-weight: bold;
    cursor: pointer;
}

.project:hover .project-title{
    top: 80px
}

.project:hover .project-more{
    bottom: 100px
}

.project-more:hover{
    background-color: var(--color-blue);
    color: #fff;
}

.project:hover .project-image{
    opacity: 0.1;
}

.project:hover .project-content{
    opacity: 1;
}