@import '../../static/stylesheets/variables';

.project-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .project {
        position: relative;
        width: 300px;
        height: 300px;
        margin: 8px;
        border-radius: 15px;
        box-shadow: 1px 1px 3px;
        background-color: rgba(0, 0, 0, 0.6);
        .project-image {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all 0.3s ease-in-out;
        }
        .project-content {
            opacity: 0;
            transition: all 0.3s ease-in-out;
            z-index: 1;
            color: $color-ebebeb;
            .project-title-wrapper {
                position: absolute;
                text-align: center;
                width: 100%;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                transition: all 0.3s ease-in-out;
                h2 {
                    margin-bottom: 4px;
                }
                h3 {
                    margin-bottom: 4px;
                    font-size: $font-size-12px;
                }
            }
            .project-tech {
                display: flex;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                white-space: nowrap;
            }
            .project-more {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background: inherit;
                border: 2px solid $color-blue;
                padding: 4px 16px;
                transition: all 0.3s ease-in-out;
                font-size: $font-size-16px;
                font-weight: bold;
                cursor: pointer;
                color: $color-ebebeb;
                background-color: $color-blue;
            }
        }
        &:hover {
            .project-image {
                opacity: 0.1;
            }
            .project-content {
                opacity: 1;
                .project-title-wrapper {
                    top: 75px;
                }
                .project-more {
                    bottom: 80px;
                    &:hover {
                        background-color: $color-blue;
                        color: #fff;
                    }
                }
            }
        }
    }
}
