@import '../../static/stylesheets/mixin';

.skill-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 20px;
    .skill{
        padding: 8px 12px;
        h3{
            margin-bottom: 18px;
        }
        .progress{
            width: 100%;
            height: 8px;
            background-color: #dbdbdb;
            border-radius: 8px;
            margin: 10px 0px;
            .progress-bar{
                position: relative;
                height: 100%;
                border-radius: 8px;
                width: 0%;
                transition: all 1.5s ease-out;
                .progress-percent{
                    display: none;
                    position: absolute;
                    transform: translateY(-100%);
                    font-weight: bold;
                    right: 0;
                }
                
            }
        }
    }
    @include notebook{
        grid-template-columns: repeat(2, 1fr);
    }
    @include mobile{
        grid-template-columns: repeat(1, 1fr);
    }
}