@import '../../static/stylesheets/mixin';
@import '../../static/stylesheets/variables';

.card {
    display: flex;
    justify-content: space-between;
    height: 18rem;
    border: 1px solid black;
    padding: 12px 14px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    color: gray;
    width: 500px;
    margin: 18px;
    .card-introduce {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        .name {
            color: black;
            font-weight: 700;
            font-size: $font-size-24px;
        }
        .fa-mobile {
            font-size: 28px;
            margin-right: 4px;
        }
        .fa-envelope {
            margin-right: 4px;
        }
        .fa-github {
            font-size: 18px;
            margin-right: 4px;
        }
    }
    .profile-image {
        top: 14px;
        right: 18px;
        background: url('../../static/images/profile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 180px;
        height: 100%;
        border-radius: 5px;
    }
    @include mobile{
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
        .name{
            text-align: center;
            margin-bottom: 1rem;
        }
        .profile-image {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            margin-bottom: 1rem;
        }
        .job{
            text-align: center;
        }
    }
}
