@import '../../static/stylesheets/mixin';

.console-list {
    align-items: center;
    width: 500px;
    border: 1px solid black;
    list-style: none;
    background-color: #333333;
    color: #edeff0;
    margin: 10px;
    .console {
        height: 25px;
        color: white;
        border-bottom: 1px solid gray;
        span {
            display: inline-block;
            text-align: center;
            width: 80px;
            height: 100%;
            background-color: black;
        }
    }
    .console-item {
        white-space: nowrap;
        padding: 0px 10px;
        border-top: 1px solid gray;
        line-height: 32px;
        .method {
            color: #eed91e;
        }

        .info {
            color: #0084ff;
        }

        .declare {
            color: blueviolet;
        }

        .cli {
            margin-left: 8px;
        }
        .underbar.hidden{
            display: none;
        }
    }
    .undefined {
        color: gray;
    }
    .fa-angle-right {
        color: #0084ff;
    }
    .fa-angle-left {
        color: #fff;
    }
    @include mobile {
        width: 100%;
    }
}
