.arrow-up{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 60px;
    right: 16px;
    width: 48px;
    height: 48px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 1px 1px 5px;
    background-color: #fff;
    transition: all 0.3s ease-in;
    border-radius: 50%;
    .fa-angle-double-up{
        font-size: 48px;
        text-align: center;
    }
}

.activeArrow {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
    bottom: 48px;
}