.about-container {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    height: 300px;
    border: 1px solid black;
    padding: 14px 18px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    color: gray;
    margin: 18px;
}

.card-introduce {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.name {
    color: black;
    font-weight: 700;
    font-size: var(--font-24px);
}

.profile-image {
    background: url("../images/profile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 180px;
    height: 250px;
    border-radius: 5px;
    margin-left: 18px;
}

.console-list {
    align-items: center;
    width: 500px;
    height: 314px;
    border: 1px solid black;
    list-style: none;
    background-color: #333333;
    color: #edeff0;
    margin: 10px;
}

.console {
    height: 25px;
    color: white;
    border-bottom: 1px solid gray;
}
.console span {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 100%;
    background-color: black;
}

.request span {
    color: #eed91e;
}

.response {
    color: #0084ff;
}
.undefined {
    color: gray;
}

.fa-angle-right {
    color: #326dc7;
}
.fa-angle-left {
    color: gray;
}

.console-item {
    height: 64px;
}
.console-item div {
    padding: 0px 10px;
    border-top: 1px solid gray;
    height: 50%;
    line-height: 32px;
}

@media screen and (max-width: 1024px) {
    .about-container {
        flex-direction: column;
    }
}