.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    top: 0;
    font-weight: bold;
    font-size: var(--font-24px);
    transition: background-color .3s ease-in-out;
    width: 100vw;
    z-index: 1;
    padding: 0 28px;
}

.navbar-dark{
    background-color: var(--color-white);
    opacity: 1;
    box-shadow: 3px 1px 15px;
}

.logo{
    width: 80px;
    height: 100%;
}

.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease-in-out;
    width: 480px;
}

.navbar-menu-item{
    padding: 12px 18px;
    cursor: pointer;
}

.navbar-menu-item:active{
    color: var(--color-blue);
}

.navbar-menu-item:hover{
    color: var(--color-blue);
}

.hamburger{
    padding: 8px;
    width: 48px;
    height: 48px;
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
}

.bar{
    width: 35px;
    height: 5px;
    background-color: black;
    transition: 0.4s;
    cursor: pointer;
}


.on .bar1{
    transform: rotate(45deg)  translate(7.5px, 7.5px);
}

.on .bar2{
    opacity: 0;
}

.on .bar3{
    transform: rotate(-45deg) translate(7.5px, -7.5px);
}

@media screen and (max-width: 768px){
    .hamburger{
        display: flex;
    }
    .navbar-menu{
        opacity: 0;
        pointer-events: none;
        position: fixed;
        flex-direction: column;
        width: auto;
        top: 70px;
        right: 0px;
    }
    .on .navbar-menu{
        opacity: 1;
        pointer-events: auto;
    }
}
