#footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 48px;
    color: var(--color-grey);
    box-shadow: 1px 1px 3px;
    padding: 0px 16px;
    .copyright {
        white-space: nowrap;
    }
}

