// responsive size
$breakpoint-mobile: 768px;
$breakpoint-notebook: 1024px;
$breakpoint-desktop: 1280px;

$color-000: #000;
$color-222: #222;
$color-333: #333;
$color-555: #555;
$color-777: #777;
$color-999: #999;
$color-ebebeb: #ebebeb;
$color-blue: #73aace;

// border
$border-ebebeb: #ebebeb;
$border-f9f9f9: #f9f9f9;
$border-dbdbdb: #dbdbdb;
$border-aaa: #aaa;
$border-radius-6px: 6px;
$border-radius-15px: 15px;

$font-size-12px: 1rem;
$font-size-14px: 1.167rem;
$font-size-16px: 1.333rem;
$font-size-18px: 1.5rem;
$font-size-20px: 1.667rem;
$font-size-22px: 1.833rem;
$font-size-24px: 2rem;
$font-size-26px: 2.167rem;
$font-size-28px: 2.333rem;
$font-size-30px: 2.5rem;
$font-size-32px: 2.667rem;
$font-size-34px: 2.833rem;